*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#e5e5e5;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    padding:40px;
    font-family:'Montserrat','Poppins','Open Sans',Arial,sans-serif;
}

.factura{
    width:800px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    margin:auto;
    overflow:hidden;
}

/* HEADER */
.header{
    background:#1b1f2a;
    color:white;
    padding:28px 35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:4px solid #ff3152;
}

.logo{
    display:flex;
    align-items:center;
    gap:14px;
}

.logo-icon{
    width:42px;
    height:42px;
    border:2px solid white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-icon svg{
    width:22px;
    height:22px;
    fill:white;
}

.logo-text h2{
    font-size:22px;
    font-weight:700;
}

.logo-text p{
    font-size:10px;
    letter-spacing:2px;
}

.titulo h1{
    color:#ff3152;
    font-size:48px;
}

/* INFO */
.info{
    background:#1b1f2a;
    color:white;
    padding:20px 35px 28px;
    display:flex;
    justify-content:space-between;
    font-size:13px;
}

.info .left p{
    color:rgba(255,255,255,0.8);
}

/* TABLA HEADER */
.tabla-header{
    width:100%;
    border-collapse:collapse;
    
}

.tabla-header thead{
background: #efefef;
}

.tabla-header th{
    padding:14px 20px;
    text-align:left;
  
}

/* TABLA BODY */
.tabla-body{
    width:calc(100% - 70px);
    margin:0 35px;
    border-collapse:collapse;
}

.tabla-body td{
    padding:20px;
    border-bottom:1px solid #ececec;
    height:70px;
}

/* PIE */
.bottom{
    display:flex;
    justify-content:space-between;
    padding:28px 35px;
}

.payment{
    width:55%;
    font-size:13px;
}

.thank-you{
    font-weight:bold;
    margin-bottom:10px;
}

.payment-label{
    font-weight:bold;
}

.total-section{
    width:38%;
}

.total-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:6px;
}

.total-row.grand{
    border-top:2px solid #1b1f2a;
    margin-top:10px;
    padding-top:10px;
    font-weight:bold;
}

/* TERMS */
.terms{
    padding:22px 35px;
    font-size:12px;
}

.terms-title{
    border-top:2px solid #ccc;
    padding-top:10px;
    width:160px;
    margin-bottom:10px;
}

/* FIRMA */
.firma-wrap{
    display:flex;
    justify-content:flex-end;
    padding:24px 35px;
}

.firma{
    width:200px;
    text-align:center;
    border-top:2px solid #555;
    padding-top:8px;
}

/* BARRA FINAL */
.footer-bar{
    background:#1b1f2a;
    height:18px;
}


.terms-title {
    display: block;
    width: 160px;
}

.terms p {
    max-width: 160px;
}
