body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #3b3f45;
    color: white; 
    padding: 1%;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.letra {
    font-size: 30px;
    padding: 0% 20%;
}

.inicio {
    width: 50%;
    vertical-align: middle;
    text-align: left;
    padding: 0% 25%;
}

.perfil {
    background-color: #ff5722; 
    color: white; 
    text-align: center;
    padding: 2% 10% 2% 10%;
}

.proyectos {
    text-align: center;
    padding: 0% 15%;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-color: #40453b07;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
}

.perfill {
    width: 25%;
    height: 300px;
}

.perfilv {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding: 10% 10%;
}

.inicio h1 {
    margin-bottom: 15px;
    padding: 0% 20%;
}

.inicio p {
    padding: 0% 5% 0% 20%;
}

.inicio button {
    width: 25%;
    vertical-align: middle;
    margin: 0% 20%;
    text-align: center;
    margin-bottom: 15px;
}

.imagenesp {
    width: 400px;
    height: 300px;
}

button {
    background-color: #ff5722; 
    color: white; /* Texto blanco para mejor contraste */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px; 
}

button:hover {
    background-color: #e64a19; /* Un naranja un poco más oscuro al pasar el mouse */
}

p, h3, h2 {
    color: rgb(10, 10, 10);
}

/* Ajuste para que los textos dentro de la sección naranja sean legibles */
.perfil p, .perfil h4 {
    color: white;
}

.circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.pie {
    text-align: right;
    background-color: #3b3f45;
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 1% 19% 1% 0%;
}

.nombre {
    padding: 0% 0% 0% 45%;
    color: white;
}

.vamos {
    padding: 0% 0% 0% 20%;
}

.proy {
    font-size: 50px;
    padding: 0%;
}

.pend {
    padding: 0% 10%;
}
