#titulo{
    text-align: center;
    color: #1e3a8a;
    margin: 8px;
    border: 5px solid #94a3b8;
    width: 100%;
}

body{
    background-color:  #f4f7fb;
    width: 800px;
    margin: 0 auto;
}
fieldset{
    border: 3px solid #cbd5e1;
}

#contenedor{
    text-align: center;
}
